
<script src="/js/casa/cadastrar.js"></script>
<div>
    <h1>Cadastrar Visita</h1>
</div>

<!-- this.#clienteId = clienteId;
this.#clienteCod = clienteCod;
this.#clienteNome = clienteNome;
this.#casanome = casanome;
this.#clienteHora = clienteHora;
this.#clienteDevolucao = clienteDevolucao;
this.#cpf = cpf; -->

<div>
    <form>
        <div class="form-group">
            <label for="inputNome">NOME</label>
            <input type="text" class="form-control" id="inputNome">
          </div>
        <div class="form-group">
            <label for="inputValor">Valor</label>
            <input type="number" class="form-control" id="inputValor">
        </div>
        <div class="form-group">
            <label for="inputRua">RUA</label>
            <input type="text" class="form-control" id="inputRua">
        </div>
    

       

        <div>

            <button class="btn btn-primary" type="button" id="btnGravar">Gravar</button>
            <a href="/casas" class="btn btn-default">Voltar</a>
        </div>
      </form>
</div>