<div>
    <h1 style="color:red" class="alinha">PAINEL ADMINISTRATIVO DE VISITAS DA J. MATHIAS</h1>
    <br>
    <br>
    <h3 class="alinha">VERSÃO 1.0.12</h3>
    <br>
    <br>
    <h1 style="color:red" class="alinha">FUTURAS ATUALIZAÇÕES</h1>
    <h2 class="alinha">- RESERVAS OFICIAIS</h2>
    <h2 class="alinha">- LOGIN E AUTENTICAÇÃO ADMINISTRADORA</h2>
</div>

<style>
    .alinha{text-align: center;}
</style>