<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>J MATHIAS SITE</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/favicon.png" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <link href="/css/style.css" rel="stylesheet">


</head>

<body stlye="black">

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="">J .MATHIAS<span style="color:yellow;">.</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class=" nav-link scrollto active" href="#hero">Inicio</a></li>
          <li><a class="nav-link scrollto" href="#about">Sobre</a></li>
          <li><a class="nav-link scrollto" href="#services">Disponibilidades</a></li>
          <li><a class="nav-link scrollto" href="#testimonials">Equipe</a></li>
          <li><a class="nav-link scrollto" href="/casas/">Casas</a></li>

          <li><a class="nav-link scrollto" href="#contact">Contato</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="/admin" class="get-started-btn scrollto">Painel</a>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1><a style="color: yellow;">J MATHIAS</a> CORRETORA<span>.</span></h1>
          <h2>Há mais de 25 anos dando <A style="color: yellow;">oportunidades</A> a familias</h2>
        </div>
      </div>

      <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-store-line"></i>
            <h3><a href="#mapa">LOCALIZAÇÃO</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-bar-chart-box-line"></i>
            <h3><a href="https://www.aasp.org.br/suporte-profissional/indices-economicos/mensal/igp-m-fgv/">TAXA IGPM</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-calendar-todo-line"></i>
            <h3><a href="perf.html">VENCIMENTOS ALUGUEL/PERFIL</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-paint-brush-line"></i>
            <h3><a href="">MÃO DE OBRA</a></h3>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="/img/testimonials-bg.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
            <h3 style="color: yellow;">POR QUE SOMOS DIFERENTES?</h3>
            <p style="color: white;" class="fst-italic">
              OQUE FAZEMOS QUE OUTROS NÃO FAZEM?
            </p>
            <ul>
              <li style="color: white;"><i class="ri-check-double-line"></i>Garantimos total segurança em locações! tanto para inquilinos, quanto para proprietarios.</li>
              <li style="color: white;"><i class="ri-check-double-line"></i>Temos nossa propria seguradora particular, oque faz com que os processos sejam infinitamente mais agilizados.</li>
              <li style="color: white;"><i class="ri-check-double-line"></i>Ajudamos familias a realizar o sonho de casas proprias, ou de ter um teto sobre sua cabeça.</li>
            </ul>
            <p style="color: yellow;">
             Há 25 anos no mercado, tem como não confiar?
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    
    
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Casas</h2>
          <p>Veja todas disponibilidades</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="">VENDA</a></h4>
              <p style="color: white;">Veja aqui todas casas disponiveis para Venda para mais informações <a style="color: yellow;" href="VENDA.html">clique.</a></p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">ALUGUEL</a></h4>
              <p style="color: white;">Veja aqui todas casas disponiveis para Aluguel para mais informações <a style="color: yellow;" href="ALUGUEL.html">clique.</a></p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">FIADOR SOLIDARIO</a></h4>
              <p style="color: white;">Lhe ajudamos a encontrar um fiador solidario, para mais informações <a style="color: yellow;" href="#">clique.</a></p>
            </div>
          </div>
   
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4><a href="">Processo de locação</a></h4>
              <p style="color: white;">Todos processos para locar sua casa aqui <a style="color: yellow;" href="#">clique</a> para mais informações.</p>
            </div>
          </div>

         <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-slideshow"></i></div>
              <h4><a  style="color: yellow;" href="num.existe.com">Breve...</a></h4>
              <p style="color: white;">Em breve poderá ver as casas pelo <a style="color: yellow;" href="https://www.uol.com.br/tilt/faq/metaverso-o-que-e-como-entrar-e-mais.htm">meta verso</a>,assim tendo uma experiencia sem sair de casa.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-arch"></i></div>
              <h4><a  style="color: yellow;" href="num.existe.com">Breve...</a></h4>
              <p style="color: white;">Há de vir novas novidades!!! Estamos opções para facilitar sua locação, tornando-a mais flexivel e menos estressante.</p>
            </div>
          </div>
  
        </div>

      </div>
      
    </section><!-- End Services Section -->


    

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row no-gutters">
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start" data-aos="fade-right" data-aos-delay="100"></div>
          <div class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex align-items-stretch" data-aos="fade-left" data-aos-delay="100">
            <div class="content d-flex flex-column justify-content-center">
              <h3 style="color: white;">Já estamos á 20 anos proporcionando oportunidades.</h3>
              <p style="color: white;">
                Todas familias que nôs confiam suas casas, e suas vidas, trabalhamos com total cuidado e carinho com cada um de nossos clientes. Por este motivo somos <p style="color:yellow;">diferenciados.</p>
              </p>
              <div class="row">
                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i  class="bi bi-emoji-smile"></i>
                    <span style="color: white;" data-purecounter-start="0" data-purecounter-end="460" data-purecounter-duration="2" class="purecounter"></span>
                    <p style="color: white;"><strong >Clientes atuais</strong> Aqui está o numero de pessoas que confiam no nosso trabalho, <strong style="color: yellow; ">junte-se</strong> a elas.</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-journal-richtext style="color: white;""></i>
                    <span style="color: white;" data-purecounter-start="0" data-purecounter-end="450" data-purecounter-duration="2" class="purecounter"></span>
                    <p style="color: white;"><strong>Fiadores/Asegurados</strong> Aqui está o numero de pessoas que se candidataram para serem fiadores e assegurados pela <strong>J.Mathias seguradora</strong>.</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-clock"></i>
                    <span style="color: white;" data-purecounter-start="0" data-purecounter-end="25" data-purecounter-duration="2" class="purecounter"></span>
                    <p style="color: white;"><strong>Anos de experiencia</strong> tempo de excelencia, trabalho honesto, e cuidado com nossos clientes.</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box">
                      <i class="bi bi-emoji-smile"></i>
                      <span style="color: white;" data-purecounter-start="0" data-purecounter-end="7460" data-purecounter-duration="2" class="purecounter"></span>
                      <p style="color: white;"><strong >Clientes Antigos</strong> Aqui está o numero de pessoas que já confiaram no nosso trabalho, e o <strong>recomendam</strong> com <strong style="color: yellow; ">5 estrelas.</strong> </p>
                    </div>
                  </div>

              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="zoom-in">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="/img/testimonials/" class="testimonial-img" alt="">
                <h3>Jeffeson Mathias</h3>
                <h4>FUNDADOR</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                 zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="/img/testimonials/" class="testimonial-img" alt="">
                <h3>Luciana Mathias</h3>
                <h4>FUNDADORA & SEGURADORA</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="/img/testimonials/" class="testimonial-img" alt="">
                <h3>Bruno Mathias</h3>
                <h4>Empresario & Co-fundador</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->
              </div>
            </div><!-- End testimonial item -->
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

  
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contato</h2>
          <p>Contate-nos</p>
        </div>

        <div>
        <iframe id="mapa" style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3695.2519223733248!2d-51.45601448508265!3d-22.154480585399455!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9493f3a06f3a2423%3A0xb36371ea5f4c673e!2sR.%20Manoel%20Ferreira%20da%20Silva%2C%20450%20-%20Conj.%20Hab.%20Ana%20Jacinta%2C%20Pres.%20Prudente%20-%20SP%2C%2019064-285!5e0!3m2!1spt-BR!2sbr!4v1666157266450!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">frameborder="0" allowfullscreen></iframe> 
        </div>

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>LOCALIZAÇÃO</h4>
                <p style="color: white;">R. Manoel Ferreira da Silva, 450 - Conj. Hab. Ana Jacinta, Pres. Prudente - SP</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p style="color: white;">J.Mathias@real.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Telefone:</h4>
                <p style="color: white;">18 3909-1369</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>J mathias<span>.</span></h3>
              <p>
                R. Manoel Ferreira da Silva, 450 <br>
                SP, 19064-285, BR<br><br>
                <strong>Telefone:</strong> +18 3909 1369<br>
                <strong>Email:</strong> jmathias@corp.com<br>
              </p>
              <div class="social-links mt-3">

                <a href="https://www.facebook.com/lucianabmathias" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/imobreal/" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://www.google.com/search?q=imobiliaria+real&sxsrf=ALiCzsb4w33NM49CL4OVK98z4Q6LohsC7w%3A1666157819510&source=hp&ei=-4xPY-P0HMSM5OUPxrSvmAE&iflsig=AJiK0e8AAAAAY0-bC0OmRXsZf52CYNAEA8XEwt8nDKZ5&oq=imo&gs_lcp=Cgdnd3Mtd2l6EAEYADIGCCMQJxATMgQIABBDMgoIABCxAxCDARBDMgoIABCxAxCDARBDMgoIABCxAxCDARBDMg0IABCxAxCDARDJAxBDMgQIABBDMgcIABCABBADMggIABCABBCxAzILCAAQgAQQsQMQgwE6BAgjECc6EAguELEDEIMBEMcBENEDEEM6BwgjEOoCECc6FAguEIAEELEDEIMBEMcBENEDENQCOhEILhCABBCxAxCDARDHARDRAzoTCC4QsQMQgwEQxwEQ0QMQ1AIQQzoFCAAQgAQ6CAgAELEDEIMBOgoILhDHARDRAxBDOgsILhCABBCxAxCDAVAAWJ8SYKMZaANwAHgAgAF2iAGaBZIBAzAuNpgBAKABAbABCg&sclient=gws-wiz" class="google-plus"><i class="bx bxl-skype"></i></a>

              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Links de paginação</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Inicio</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Sobre</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Disponibilidades</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>


          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>CASO ACHE ALGUM ERRO</h4>
            <p>EM CASO DE BUGS OU ERROS EDIONDOS, ENTRAR EM CONTATO POR AQUI.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Enviar">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>J.Mathias INC</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/ -->
        Designed by <a href="#">Bruno Mathias</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/vendor/aos/aos.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>

</body>

</html>